<h2 class="page-header">New Writer</h2>

<form action="/writers" method="POST">
    <%- include('_form_fields')  %> 
    <div class="btn-row form-row form-row-end">
        <a class="cus-btn cus-btn-2" href="/writers/<%= writer.id %>">Cancel</a>
        <button class="cus-btn cus-btn-1" type="submit">Create</button>
    </div>
</form>