<header>
    <nav class="header-nav">
        <a href="/" class="header-title">My Books Showcase</a>
        <ul>
            <li><a href="/writers">Writers</a></li>
            <li><a href="/writers/new">Add Writers</a></li>
            <li><a href="/books">Books</a></li>
            <li ><a href="/books/new">Add books</a></li>

        </ul>
    </nav>
</header>